[user]
	name = wada
	email = zyanzyakazyan@gmail.com
[core]
	editor = vim
[color]
	ui = auto
[credential]
	helper = osxkeychain
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
